<ap-relation-header
  [relation]="relation()"
  [registrationDateUntil]="registrationDateUntil()"
/>

<table cellspacing="0" cellpadding="0">
  <tr class="header">
    <td style="font-weight: bold; width: 30%">Categorie en sub categorie</td>
    <td style="width: 10%">Medewerker</td>
    <td style="width: 5%">Datum</td>
    <td style="width: 5%" class="text-right">Tijd/aantal</td>
    <td style="width: 5%" class="text-right">Tarief</td>
    <td style="width: 5%" class="text-right">Ereloon</td>
    <td style="width: 30%">Interne opmerking</td>
  </tr>
  @for (category of hierarchyWithRegistrations(); track category.category) {
    <tr class="category">
      <td [colSpan]="3">{{ category.category }}</td>
      <td class="text-right">{{ category.duration | number: '0.2-2' }}</td>
      <td></td>
      <td class="text-right">{{ category.total | number: '0.2-2' }}</td>
    </tr>
    @for (
      subCategory of category.subCategories;
      track subCategory.subCategory
    ) {
      <tr class="sub-category">
        <td [colSpan]="3">
          {{ subCategory.subCategory }}
        </td>

        <td class="text-right">
          {{ subCategory.duration | number: '0.2-2' }}
        </td>
        <td class="text-right"></td>
        <td class="text-right">
          {{ subCategory.total | number: '0.2-2' }}
        </td>
      </tr>
      <!--  @if(subCategory.registrations.length > 0) { @for( subCategoryRegistration of-->
      <!--  subCategory.registrations; track subCategoryRegistration.id) {-->
      <!--  <tr class="child">-->
      <!--    <td></td>-->
      <!--    <td>-->
      <!--      {{ (subCategoryRegistration.user?.name || '').split(' ')[0] }}-->
      <!--    </td>-->
      <!--    <td>-->
      <!--      {{ subCategoryRegistration.registrationDate.slice(0, 2) }}/{{-->
      <!--        subCategoryRegistration.registrationDate.slice(2, 4)-->
      <!--      }}/{{ subCategoryRegistration.registrationDate.slice(4, 8) }}-->
      <!--    </td>-->
      <!--    <td class="text-right">-->
      <!--      {{ subCategoryRegistration.duration / 60 | number : '0.2-2' }}-->
      <!--    </td>-->
      <!--    <td class="text-right">-->
      <!--      {{ subCategoryRegistration.unitPrice | number : '0.1-2' }}-->
      <!--    </td>-->
      <!--    <td class="text-right">-->
      <!--      {{-->
      <!--        (subCategoryRegistration.duration / 60) *-->
      <!--          subCategoryRegistration.unitPrice | number : '0.2-2'-->
      <!--      }}-->
      <!--    </td>-->
      <!--    <td>{{ subCategoryRegistration.remarkInternal }}</td>-->
      <!--  </tr>-->
      <!--  }-->
      <!--  <tr class="sub-category&#45;&#45;end">-->
      <!--    <td colspan="6"></td>-->
      <!--  </tr>-->
      <!--  }-->
      @for (child of subCategory.children; track child.child) {
        @for (registration of child.registrations; track registration.id) {
          <tr class="child">
            <td>{{ child.child }}</td>
            <td>
              {{ (registration.user?.name || '').split(' ')[0] }}
            </td>
            <td>
              {{ registration.registrationDate.slice(0, 2) }}/{{
                registration.registrationDate.slice(2, 4)
              }}/{{ registration.registrationDate.slice(4, 8) }}
            </td>
            <td class="text-right">
              {{
                registration.duration
                  ? (registration.duration / 60 | number: '0.2-2')
                  : registration.quantity
              }}
            </td>
            <td class="text-right">
              {{ registration.unitPrice | number: '0.2-2' }}
            </td>
            <td class="text-right">
              {{
                (registration.duration
                  ? registration.duration / 60
                  : registration.quantity) * registration.unitPrice
                  | number: '0.2-2'
              }}
            </td>
            <td>{{ registration.remarkInternal }}</td>
          </tr>
        }

        <tr class="sub-category--end">
          <td colspan="6"></td>
        </tr>
      }
    }
  }
</table>
<div class="spacing"></div>
<ap-relation-header
  [relation]="relation()"
  [registrationDateUntil]="registrationDateUntil()"
/>
<div class="summaries">
  <table>
    <tr class="header">
      <td>Categorie</td>
      <td>Tijd</td>
      <td>Ereloon</td>
    </tr>
    @for (category of hierarchyWithRegistrations(); track category.category) {
      <tr>
        <td>{{ category.category }}</td>
        <td class="text-right">
          @if (category.quantity) {
            *
          }
          {{ category.duration | number: '0.2-2' }}
        </td>
        <td class="text-right">{{ category.total | number: '0.2-2' }}</td>
      </tr>
    }
    <tr>
      <td style="font-weight: bold">Totaal</td>

      <td style="font-weight: bold" class="text-right">
        @if (quantityTotal()) {
          *
        }
        {{ durationTotal() | number: '0.2-2' }}
      </td>
      <td style="font-weight: bold" class="text-right">
        {{ total() | number: '0.2-2' }}
      </td>
    </tr>
  </table>
  <table>
    <tr class="header">
      <td>Nummer</td>
      <td>Vervaldatum</td>
      <td>Bedrag</td>
      <td>Betaald</td>
    </tr>
    @for (invoice of relation().invoices; track invoice.id) {
      <tr>
        <td>{{ invoice.invoiceNumber }}</td>
        <td>{{ invoice.dueDateAsDate | date: 'dd/MM/yyyy' }}</td>
        <td class="text-right">
          {{ invoice.originalAmount | number: '0.2-2' }}
        </td>
        <td>{{ invoice.paid ? 'Ja' : 'Nee' }}</td>
      </tr>
    }
  </table>
</div>
